@import './Common.scss';

.container{
    padding: 30px 0px 0px 30px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-right: 10px;
    //top right botton left

}

.size-car{
    //width: 250px;
    //height: 100px;
}

.chart-area{
   
}

.chart{
    width: 100%;
    padding-bottom: 30px;
}

.header{
    background: rgb(217, 231, 255, 0.8);
    //font-family: 'Roboto';
    //font-style: normal;
    //line-height: 33px;
}