@import './Common.scss';

.my-files-content {
    padding: 30px;

    .my-files-title {
        font-family: 'Roboto';
        color: $cemex-blue ;
        padding-bottom: 10px;
    }

    .report-table {
        .semi-table-thead {
            background: rgb(217, 231, 255, 0.8);
        }

        tr:nth-child(even) {
            background: rgb(217, 231, 255, 0.4);
        }

        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .semi-table-body {
        overflow: auto;
        width: 100%;
        box-sizing: border-box;
        border-radius: 20px 20px 0px 0px;
    }

    .iDelete{
        color: $cemex-blue-5;
    }
}
