@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap');

$blue_cemex: #293064;
$blue_light: #00ADFD;
$BFsize: 15px;

.myFiles {
    
    margin: 40px 40px 0px 40px;
    //background-color: aquamarine;
}

.headTitle{
    font-family: 'Roboto';
    color: $blue_cemex;    
    margin: 0px 0px 40px 0px;
}

.BoxContainer {
    height: 481px;
    //background-color: aqua;
}

.navbuttons {
    height: 90px;
    mix-blend-mode: normal;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.UploadButton{
    width: 150px;
    height: 40px;
    margin: 25px 20px 0px 40px;
    
    background: #FFFFFF;
    border: 3px solid $blue_light;
    box-sizing: border-box;
    border-radius: 15px;

    font-family: 'Roboto', sans-serif;
    font-size: $BFsize;
    color: #20B7FD;

}

.RemoveButton {
    width: 150px;
    height: 40px;
    margin: 25px 0px 0px 0px;

    background: $blue_light;
    border-radius: 15px;

    font-family: 'Roboto', sans-serif;
    font-size: $BFsize;
    color: #ffffff;

}

.StartButton {
    width: 150px;
    height: 40px;
    margin: 25px 0px 0px 890px;

    background: $blue_cemex;
    border-radius: 15px;

    font-family: 'Roboto', sans-serif;
    font-size: $BFsize;
    color: #ffffff;

}